canvas, .button, .happy, .wow {
    position: absolute;
}

canvas, .button {
    top: 0; left: 0;
    width: 100%; height: 100%;
}

#background { z-index: 0; }
.happy      { z-index: 1; }
#particles  { z-index: 2; }
.wow        { z-index: 3; }
.button     { z-index: 4; }

.button {
    cursor: pointer;

    [class^='shape'] {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate3d(-50%, -50%, 0);
    }

    &.disabled {
        opacity: 0;
    }

    .shape {
        width: 16vmax;
    }
}

.happy {
    top: 50%; left: 50%;
    margin: -23vmax 0 0 -23vmax;
    width: 46vmax;
    height: 46vmax;

    opacity: 0;
    transform: translate(100%, 100%);

    background: #ccc;

    &.in {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.wow {
    width: 36vmax;
    height: 36vmax;
    top: 10%; right: 10%;

    opacity: 0;
    transform: scale(.7,.7);

    [class^='shape'] {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%) rotate(0deg);
    }

    &.in {
        opacity: 1;
        transform: scale(1,1);

        [class^='shape'] {
            transform: translate(-50%, -50%) rotate(-7deg);
        }
    }

    .shape {
        width: 36vmax;
    }
}